.quoteTopMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quoteSearchBar {
  width: 250px;
  color: #A92360;
  border: 1px #A92360 solid;
  border-radius: 4px;
  padding: 8px;
  margin: 34px 12px 12px 12px;
}
.quoteSearchBar::placeholder {
  color: #A92360;
}
.quoteSearchBar:focus {
  outline: none;
  border: 2px #A92360 solid;
}

.quoteGallery {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 1.5em;
  overflow: scroll;
  align-items: start;
  /* grid-auto-rows: 100px; */
}

.quoteView {
  border-radius: 30px;
  object-fit:contain;
  object-position:center;
  display: block;
  max-width: 150px;
  
}

.quoteGalleryLi:not(.landscape){
max-height: 100px;
}

.landscape {
  display: inline-block;
  height: 100px;
  border: #A92360 10px solid;
}

.quoteGalleryLi {
  padding: 0;
  margin-top: 50px;
  list-style: none;
  border-radius: 30px;
  display: inline-block;
  object-fit: contain;
  max-height: 100px;
}


/* .quoteGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 0px;
  list-style-type: none;
}

.quoteGalleryLi {
  margin: 10px;
}

.quoteGalleryQuoteView {
  border-radius: 15px;
} */
