.quoteTopMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quoteSearchBar {
  width: 250px;
  color: #A92360;
  border: 1px #A92360 solid;
  border-radius: 4px;
  padding: 8px;
  margin: 34px 12px 12px 12px;
}
.quoteSearchBar::placeholder {
  color: #A92360;
}
.quoteSearchBar:focus {
  outline: none;
  border: 2px #A92360 solid;
}

.quoteGallery {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(autofill,150px);
  gap: 1.5em 2em;
  overflow: scroll;
  grid-auto-flow: row;
  align-items: start;
}

.quoteView {
  height: auto;
  border-radius: 30px;
  object-fit:contain;
  object-position:center;
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.portrait{
  grid-row: span 4;
  display: inline-block;
  width: 200px;
  max-height: 320px;
}

.quoteGalleryLi {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  height: auto;
}